.animated-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.animated-header__text {
  font-family: "Elsie", sans-serif;
  font-size: 76px;
  letter-spacing: 5px;
  font-weight: 300;
  position: absolute;
}

.animated-header__text-wrapper {
  overflow: hidden;
  height: 87px;
  width: 223px;
  position: relative;
}

.animated-header__text-wrapper:last-of-type {
  height: 87px;
  width: 192px;
  margin-left: 5px;
}
