@import url("https://fonts.googleapis.com/css?family=Elsie");

html,
body,
#root,
.router,
.transition-wrapper {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

body {
  background-color: #f2ede6;
}

h1 {
  margin: 0;
}
