.home-background-image__wrapper {
  width: 100%;
}

.home-background-image__left {
  position: absolute;
  top: -3px;
  left: -170px;
  height: 101vh;
  fill: none;
}

.home-background-image__right {
  position: absolute;
  top: -3px;
  right: -170px;
  height: 101vh;
  fill: none;
}

.cls-1 {
  stroke: red;
  stroke-width: 1px;
}
