.home-background-image__wrapper {
  width: 50%;
}

.home-background-image {
  position: absolute;
  top: -3px;
  left: -100px;
  height: 101vh;
  fill: none;
}

.cls-1,
.cls-2,
.cls-3 {
  stroke: #c6435b;
  stroke-miterlimit: 10;
  stroke-width: 3px;
}
.cls-2 {
  fill: none;
}
.cls-3 {
  fill: #fff;
}
